/* Global */
/* Base reset */
* {
  font-size: 1.1em;
}

body {
  color: red;
}

.footer {
  background-color: black;
}

/*For Mobile View*/
@media (max-width: 40.625em) {
  .bio {
    font-size: 5vw;
  }

  .list-group li {
    font-size: 5vw;
  }

  .top-style-image{
    height: 60vh;
  }
}

/*Used for the bottome Style pciture*/
.bottom-style-image{
  height: 50vh;
}

/*Desktip View */
@media only screen and (min-width: 768px) {
  /*Used for the bottome Style pciture*/
  .bottom-style-image{
    height: 100vh;
  }

  /*The Carousel Sections makes function properly on Desktop*/
  .carousel-inner {
    height: 100vh;
  }

  .carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-caption {
    bottom: 270px;
  }

  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }

  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
}
